{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Clockify",
    "contact":{
      "email":"nirmal@nkdews.me",
      "name": "Nirmal"
    },
    "description": "Clockify helps to connect to your clockify account to pull data like Project, Tasks, Time etc."
  },
  "host": "api.clockify.me",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/workspaces": {
      "get": {
        "summary": "Get Workspaces",
        "description": "Get Workspaces",
        "operationId": "GetWorkspaces",
        "parameters": [],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/workspaces/{workspace_id}/clients": {
      "get": {
        "summary": "Get Clients",
        "description": "Get Clients",
        "operationId": "GetClients",
        "parameters": [
          {
            "name": "workspace_id",
            "x-ms-summary":"Worspace ID",
            "description":"Workspace ID",
            "in": "path",
"x-ms-url-encoding":"single",
            "type": "string",
            "required": true
          },
          {
            "name": "archived",
            "default": "false",
            "description":"Is Archived ?",
            "x-ms-summary":"Archived ?",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/workspaces/{workspace_id}/clients/projects-filter": {
      "get": {
        "summary": "Get Projects",
        "description": "Get Projects",
        "operationId": "GetProjects",
        "parameters": [
          {
            "name": "workspace_id",
            "description":"Target Workspace ID in your account",
            "x-ms-summary":"Worspace ID",
            "in": "path",
"x-ms-url-encoding":"single",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "403":{
            "description": "Invalid Request",
            "schema":{
              "type": "string"
          }
          },
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "hourlyRate": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer"
                      },
                      "currency": {
                        "type": "string"
                      }
                    }
                  },
                  "costRate": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer"
                      },
                      "currency": {
                        "type": "string"
                      }
                    }
                  },
                  "memberships": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string"
                        },
                        "hourlyRate": {},
                        "costRate": {},
                        "targetId": {
                          "type": "string"
                        },
                        "membershipType": {
                          "type": "string"
                        },
                        "membershipStatus": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "workspaceSettings": {
                    "type": "object",
                    "properties": {
                      "timeRoundingInReports": {
                        "type": "boolean"
                      },
                      "onlyAdminsSeeBillableRates": {
                        "type": "boolean"
                      },
                      "activeBillableHours": {
                        "type": "boolean"
                      },
                      "onlyAdminsCanChangeBillableStatus": {
                        "type": "boolean"
                      },
                      "onlyAdminsCreateProject": {
                        "type": "boolean"
                      },
                      "onlyAdminsSeeDashboard": {
                        "type": "boolean"
                      },
                      "defaultBillableProjects": {
                        "type": "boolean"
                      },
                      "isProjectPublicByDefault": {
                        "type": "boolean"
                      },
                      "lockTimeEntries": {},
                      "round": {
                        "type": "object",
                        "properties": {
                          "round": {
                            "type": "string"
                          },
                          "minutes": {
                            "type": "string"
                          }
                        }
                      },
                      "projectFavorites": {
                        "type": "boolean"
                      },
                      "canSeeTimeSheet": {
                        "type": "boolean"
                      },
                      "canSeeTracker": {
                        "type": "boolean"
                      },
                      "projectPickerSpecialFilter": {
                        "type": "boolean"
                      },
                      "forceProjects": {
                        "type": "boolean"
                      },
                      "forceTasks": {
                        "type": "boolean"
                      },
                      "forceTags": {
                        "type": "boolean"
                      },
                      "forceDescription": {
                        "type": "boolean"
                      },
                      "onlyAdminsSeeAllTimeEntries": {
                        "type": "boolean"
                      },
                      "onlyAdminsSeePublicProjectsEntries": {
                        "type": "boolean"
                      },
                      "onlyAdminsSeeProjectStatus": {
                        "type": "boolean"
                      },
                      "trackTimeDownToSecond": {
                        "type": "boolean"
                      },
                      "projectGroupingLabel": {
                        "type": "string"
                      },
                    
                      "automaticLock": {},
                      "onlyAdminsCreateTag": {
                        "type": "boolean"
                      },
                      "isCostRateActive": {
                        "type": "boolean"
                      },
                      "timeApprovalEnabled": {
                        "type": "boolean"
                      },
                      "screenshotsEnabled": {
                        "type": "boolean"
                      },
                      "locationsEnabled": {
                        "type": "boolean"
                      },
                      "onlyAdminsCreateTask": {
                        "type": "boolean"
                      },
                      "timeTrackingMode": {
                        "type": "string"
                      },
                      "taskBillableEnabled": {
                        "type": "boolean"
                      },
                      "taskRateEnabled": {
                        "type": "boolean"
                      },
                      "invoicingEnabled": {
                        "type": "boolean"
                      },
                      "expensesEnabled": {
                        "type": "boolean"
                      },
                      "companyAddress": {
                        "type": "string"
                      },
                      "decimalFormat": {
                        "type": "boolean"
                      },
                      "canManagerEditUsersTime": {
                        "type": "boolean"
                      },
                      "workingDays": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "timeOff": {
                        "type": "object",
                        "properties": {
                          "regularUserCanSeeOtherUsersTimeOff": {
                            "type": "boolean"
                          },
                          "active": {
                            "type": "boolean"
                          }
                        }
                      },
                      "auditLogSettings": {},
                      "pumbleIntegrationSettings": {
                        "type": "object",
                        "properties": {
                          "showChatWidget": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "imageUrl": {
                    "type": "string"
                  },
                  "featureSubscriptionType": {},
                
                  "onSubdomain": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/users": {
      "get": {
        "summary": "Get All Users",
        "description": "Get All Users",
        "operationId": "GetAllUsers",
        "parameters": [
          {
            "name": "workspace_id",
            "description": "Workspace ID",
            "in": "path",
            "x-ms-summary":"Workspace ID",
            "x-ms-url-encoding":"single",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": { }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/user/{user_id}/time-entries": {
      "get": {
        "summary": "Get Time Entries For User",
        "description": "Get Time Entries For User",
        "operationId": "GetTimeEntriesForUser",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
"x-ms-url-encoding":"single",
"description":"Workspace ID",
            "type": "string",
            "required": true,
            "x-ms-summary":"Workspace Id"
          },
          {
            "name": "user_id",
            "in": "path",
"x-ms-url-encoding":"single",
"description":"User ID",
            "type": "string",
            "required": true,
            "x-ms-summary":"User Id"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.Clockify.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.Clockify.com/website/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Data"
    }
  ],
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}